// @import 'normalize.css'
@import 'variables.styl'

body
  color $body-color
  margin 0
  min-height 100vh
  font-size 16px
  flex-direction column
  .backstretch
    opacity .7

@media (min-width 720px)
  body
    display flex
    flex-direction row
    .backstretch
      opacity .5

header, main
  box-sizing border-box
  padding 20px

@import 'header.styl'
@import 'main.styl'
@import 'basic.styl'

@media (min-width 720px)
  body
    align-items flex-start
    header
      height 100vh
      position sticky
      top 0
    main
      min-height 100vh

@media (max-width 719px)
  body
    display block
