if theme.logo
  a(href= config.root)
    img.logo(src= theme.logo, alt= config.title, title= config.title)
h1
  a(href= config.root, alt= config.title, title= config.title)= config.title
p!= config.subtitle
nav
  ul
    each url, label in theme.menu
      li
        a(href= url, alt= label, title= label)= label

  div.xnews-icon
    if theme.icon
      if theme.icon.rss
        a(target="_blank" href= theme.icon.rss) &#xe609;
      if theme.icon.github
        a(target="_blank" href= "https://github.com/" + theme.icon.github, style="position: relative; top: -2px;") &#xe64a;
      if theme.icon.bilibili
        a(target="_blank" href= "https://space.bilibili.com/" + theme.icon.bilibili) &#xe601;
      if theme.icon.cloudmusic
        a(target="_blank" href= "https://music.163.com/#/user/" + theme.icon.cloudmusic) &#xe774;
      if theme.icon.zhihu
        a(target="_blank" href= "https://www.zhihu.com/people/" + theme.icon.zhihu) &#xe63f;
      if theme.icon.weibo
        a(target="_blank" href= "https://weibo.com/" + theme.icon.weibo, style="position: relative; top: -2px;") &#xe603;